<section class="grid padded">

  <div class="col-6_sm-12">

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15777.881893329804!2d115.157076!3d-8.6467243!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1083c93d70c9564d!2sVilla+Amita!5e0!3m2!1sen!2sid!4v1560999861824!5m2!1sen!2sid" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-6_sm-12-middle padded">
      <h2> Where to find us </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vitae tempora officiis quae aspernatur natus, ipsam alias, voluptas maiores dignissimos autem neque similique nobis, culpa ullam nesciunt dolorum soluta repellendus.</p>
      <p>
</section>
